streamlit==1.40.2
openai==1.57.0
langchain==0.2.17
langchain-community==0.2.19
langchain-openai==0.1.25
chromadb==0.3.29
python-dotenv==1.0.1
pandas==2.2.3
numpy==1.26.4
PyMuPDF==1.25.0
docx2txt==0.8
tiktoken==0.8.0
beautifulsoup4==4.13.3
requests==2.32.3
SudachiPy==0.6.10
SudachiDict-full==20250129
